<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/notice/noticewrite.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css" />
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <link rel="stylesheet"
        href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css" />
    <script
        src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>게시판</title>
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
    <div class="app-wrapper">
        <div class="left-area hide-on-mobile">
            <div class="app-header">MOVA.
                <span class="inner-text">toon</span>
                <button class="close-menu">
                    <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2" class="feather feather-x">
                        <defs />
                        <path d="M18 6L6 18M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="left-area-content">
                <div class="profile">
                    <img src="https://images.unsplash.com/photo-1496340672773-0b29c9b17ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
                        alt="">
                    <div class="profile-info">
                        <span class="profile-name">{user}님</span>
                        <span class="country">환영합니다!</span>
                    </div>
                </div>
                <div class="page-link-list">
                    <a href="#" class="item-link active" id="pageLink">
                        <svg class="link-icon" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" class="feather feather-home" viewBox="0 0 24 24">
                            <defs />
                            <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                            <path d="M9 22V12h6v10" />
                        </svg>
                        홈</a>
                    <a href="#" class="item-link" id="pageLink">
                        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                        </svg>
                        공지사항</a>
                    <a href="#" class="item-link" id="pageLink">
                        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-play">
                            <path d="M5 3l14 9-14 9V3z" />
                        </svg>
                        팬 게시판</a>
                    <a href="#" class="item-link" id="pageLink">
                        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                            <path d="M8 6h13M8 12h13M8 18h13M3 6h.01M3 12h.01M3 18h.01" />
                        </svg>
                        관심 웹툰</a>
                    <a href="#" class="item-link" id="pageLink">
                        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                            <circle cx="12" cy="12" r="10" />
                            <polyline points="12 6 12 12 16 14" />
                        </svg>
                        토론방</a>
                    <a href="#" class="item-link" id="pageLink">
                        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
                            <circle cx="12" cy="12" r="10" />
                            <polyline points="12 6 12 12 16 14" />
                        </svg>
                        깊은배움</a>
                </div>
            </div>
            <button class="btn-invite">Invite Team</button>
        </div>
        <div class="right-area">
            <div class="right-area-upper">
                <button class="menu-button">
                    <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2">
                        <defs />
                        <path d="M3 12h18M3 6h18M3 18h18" />
                    </svg>
                </button>
                <div class="search-part-wrapper">
                    <input class="search-input" type="text" placeholder="Search videos...">
                    <a class="menu-links" href="#">Explore</a>
                    <a class="menu-links" href="#">Events</a>
                    <button class="more-button">
                        <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" class="feather feather-more-vertical">
                            <defs />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="12" cy="5" r="1" />
                            <circle cx="12" cy="19" r="1" />
                        </svg>
                    </button>
                    <ul class="more-menu-list hide">
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Events</a></li>
                        <li> <button class="action-buttons btn-record">Record</button></li>
                        <li><button class="action-buttons btn-upload">Upload</button></li>
                    </ul>
                </div>
                <button class="btn-notification">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="#232428" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-bell">
                        <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
                    </svg>
                    <span>3</span>
                </button>
                <div class="action-buttons-wrapper">
                    <button class="action-buttons btn-record">Record</button>
                    <button class="action-buttons btn-upload">Upload</button>
                </div>
            </div>
            <div class="page-right-content" style="margin: 0px;">
                <div class="detail_contatner" style="display:flex; margin: auto;">
                    <div class="board_wrap" style="margin: 0px; margin: auto;">
                        <div class="board_title">
                            <strong>공지사항</strong>
                            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
                        </div>
                        <div class="board_write_wrap">
                            <div class="board_write">
                                <div class="title">
                                    <dl>
                                        <dt>제목</dt>
                                        <dd><input type="text" placeholder="제목 입력"></dd>
                                    </dl>
                                </div>
                                <div class="info">
                                    <dl>
                                        <dt>글쓴이</dt>
                                        <dd><input type="text" placeholder="글쓴이 입력"></dd>
                                    </dl>
                                    <dl>
                                        <dt>카테고리</dt>
                                        <div class="dropdown">
                                            <button type="button" id="category_button" class="btn dropdown-toggle"
                                                data-bs-toggle="dropdown">
                                                카테고리
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" id="category1" href="#">공지사항</a></li>
                                                <li><a class="dropdown-item" id="category2" href="#">팬 게시판</a></li>
                                            </ul>
                                        </div>
                                    </dl>
                                </div>
                                <div id="editor"></div>
                            </div>
                            <div class="bt_wrap">
                                <a href="view.html" class="on">등록</a>
                                <a href="list.html">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/notice/noticewrite.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</html>