<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
  <title>DAUM WEBTOON</title>
  <link rel="stylesheet" href="style.css">
  <style type="text/css"></style>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript"></script>
  </script>
  <script src="https://unpkg.com/ionicons@4.4.7/dist/ionicons.js"></script>
  <script src="build/js/main.js"></script>


</head>

<body>

  <main>

    <div class="slide">
      <header>
        <div onclick="window.location.href='#'">
          <img src="https://t1.daumcdn.net/cfile/blog/231BE74955EE6D4E11">
        </div>
        <div>
          <input type="text" size="12" placeholder="예) 이태원클라쓰">
          <button><img src="http://www.myiconfinder.com/uploads/iconsets/128-128-415645422f8f70110f119803d3b9e90d-search.png"></button><h2>≡</h2>
        </div>
      </header>

      <ul>
        <li>
          <section>
            <h4>박서준의 드라마활약의 원작</h4>
            <h2>이태원클라쓰</h2><button>무료 웹툰 보기</button>
          </section>
        </li>
        <li>
          <section>
            <h4>김수현의 북한 특파원 액션연기의 원작</h4>
            <h2>은밀하게 위대하게</h2><button>무료 웹툰 보기</button>
          </section>
        </li>
        <li>
          <section>
            <h4>죽은 내 딸이 다시 찾아왔다</h4>
            <h2>이웃사람</h2><button>무료 웹툰 보기</button>
          </section>
        </li>
        <li>
          <section>
            <h4>장그래의 인생 바둑 한 판</h4>
            <h2>미생</h2><button>무료 웹툰 보기</button>
          </section>
        </li>
      </ul>
    </div>
  </main>