<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="owlcarosel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarosel/owl.theme.default.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/colorization/fanartboard.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>

    <script defer>console.log(2,"두번째")</script>
    <!-- <script defer src="../../static/js/default/owl.carousel.js"></script> -->
    <script defer>console.log(4,"4번째")</script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
<div class="app-wrapper">
  <div class="left-area hide-on-mobile">
    <div class="app-header">MOVA.
      <span class="inner-text">toon</span>
      <button class="close-menu">
        <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-x">
          <defs />
          <path d="M18 6L6 18M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="left-area-content">
      <div class="profile">
        <img src="https://images.unsplash.com/photo-1496340672773-0b29c9b17ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="">
        <div class="profile-info">
          <span class="profile-name">{user}님</span>
          <span class="country">환영합니다!</span>
        </div>
      </div>
      <div class="page-link-list">
        <a href="#" class="item-link active" id="pageLink">
          <svg class="link-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-home" viewBox="0 0 24 24">
            <defs />
            <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            <path d="M9 22V12h6v10" /></svg>
          홈</a>  
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
          </svg>
          공지사항</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play">
            <path d="M5 3l14 9-14 9V3z" />
          </svg>
          팬 게시판</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
            <path d="M8 6h13M8 12h13M8 18h13M3 6h.01M3 12h.01M3 18h.01" />
          </svg>
          관심 웹툰</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
            <circle cx="12" cy="12" r="10" />
            <polyline points="12 6 12 12 16 14" /></svg>
          토론방</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
            <circle cx="12" cy="12" r="10" />
            <polyline points="12 6 12 12 16 14" /></svg>
          깊은배움</a>
      </div>
    </div>
    <button class="btn-invite">Invite Team</button>
  </div>
  <div class="right-area">
    <div class="right-area-upper">
      <button class="menu-button">
        <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <defs />
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="search-part-wrapper">
        <input class="search-input" type="text" placeholder="Search videos...">
        <a class="menu-links" href="#">Explore</a>
        <a class="menu-links" href="#">Events</a>
        <button class="more-button">
          <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-more-vertical">
            <defs />
            <circle cx="12" cy="12" r="1" />
            <circle cx="12" cy="5" r="1" />
            <circle cx="12" cy="19" r="1" />
          </svg>
        </button>
        <ul class="more-menu-list hide">
          <li><a href="#">Explore</a></li>
          <li><a href="#">Events</a></li>
          <li> <button class="action-buttons btn-record">Record</button></li>
          <li><button class="action-buttons btn-upload">Upload</button></li>
        </ul>
      </div>
      <button class="btn-notification">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#232428" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
          <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
        </svg>
        <span>3</span>
      </button>
      <div class="action-buttons-wrapper">
        <button class="action-buttons btn-record">Record</button>
        <button class="action-buttons btn-upload">Upload</button>
      </div>
    </div>
    <div class="page-right-content">
      <div class="content-line content-line-hero">
        <div class="line-header">
          <span class="header-text">Hot MOVA</span>
        </div>
        <div id="drag-container">
          <div id="spin-container">
            <!-- Add your images (or video) here -->
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/641253/thumbnail/thumbnail_IMAG21_01672165-03c8-44b1-ba0e-ef82c9cfcd10.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/783053/thumbnail/thumbnail_IMAG21_d7732f14-26da-4e35-8762-660cc87b53f1.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/800770/thumbnail/thumbnail_IMAG21_d2e1e7ee-fc83-4030-a1e7-200378bc088f.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/792651/thumbnail/thumbnail_IMAG21_218f18ef-7f68-4d6a-972c-686a3e9f6138.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/710751/thumbnail/thumbnail_IMAG21_53aefc06-6bdf-40fb-93ac-fab7242146c6.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/783769/thumbnail/thumbnail_IMAG21_fc14e4e2-e62f-4d77-8f46-9fb05cffa77a.jpeg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/736277/thumbnail/thumbnail_IMAG21_bbbe3f76-021e-4dbc-830a-4358c1abec0c.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/570503/thumbnail/thumbnail_IMAG21_85e39ba0-3fc6-4ddb-9e78-5e8879b7d3d9.jpg" alt="">
            <img src="https://shared-comic.pstatic.net/thumb/webtoon/670143/thumbnail/thumbnail_IMAG21_12d5d293-d54d-4022-8e00-c97c5779c701.jpg" alt="">
            <!-- Text at center of ground -->
            <p>MOVA</p>
          </div>
          <div id="ground"></div>
        </div>
        <div id="music-container"></div>
      </div>
      <div class="content-line content-line-list">
        <div class="line-header">
          <span class="header-text">Trending</span>
        </div>
        <div id="owl-slider-2" class="slider-wrapper owl-carousel">
          
        </div>
      </div>
      <div class="content-line content-line-list">
        <div class="line-header">
          <span class="header-text">Public</span>
        </div>
        <div id="owl-slider-3" class="slider-wrapper owl-carousel">
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
          </div>
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
          </div>
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
          </div>
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
          </div>
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
          </div>
          <div class="item video-box-wrapper">
            <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
            <div class="item video-box-wrapper">
              <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample91.jpg" alt="sample91" />
                <div class="title">
                  <div>
                    <h2>Ingredia</h2>
                    <h4>Nutrisha</h4>
                  </div>
                </div>
                <figcaption>
                  <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script defer type="module" src="../../static/js/colorization/fanartboard.js"></script>