<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="owlcarosel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarosel/owl.theme.default.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/colorization/fanart-write.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
    <style>
        canvas {
          background: #eee;
          border: 3px #111;
            padding: 5px;
        }
        .color-btn {
          width: 30px;
          height: 30px;
          border: 0;
          border-radius: 50%;
        }
        .color-btn[data-color='black'] { background: black; }
        .color-btn[data-color='red'] { background: red; }
        .color-btn[data-color='green'] { background: green; }
        .color-btn[data-color='blue'] { background: blue; }
      </style>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
<div class="app-wrapper">
  <div class="left-area hide-on-mobile">
    <div class="app-header">MOVA.
      <span class="inner-text">toon</span>
      <button class="close-menu">
        <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-x">
          <defs />
          <path d="M18 6L6 18M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="left-area-content">
      <div class="profile">
        <img src="https://images.unsplash.com/photo-1496340672773-0b29c9b17ed2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="">
        <div class="profile-info">
          <span class="profile-name">{user}님</span>
          <span class="country">환영합니다!</span>
        </div>
      </div>
      <div class="page-link-list">
        <a href="#" class="item-link active" id="pageLink">
          <svg class="link-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-home" viewBox="0 0 24 24">
            <defs />
            <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            <path d="M9 22V12h6v10" /></svg>
          홈</a>  
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
          </svg>
          공지사항</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play">
            <path d="M5 3l14 9-14 9V3z" />
          </svg>
          팬 게시판</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
            <path d="M8 6h13M8 12h13M8 18h13M3 6h.01M3 12h.01M3 18h.01" />
          </svg>
          관심 웹툰</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
            <circle cx="12" cy="12" r="10" />
            <polyline points="12 6 12 12 16 14" /></svg>
          토론방</a>
        <a href="#" class="item-link" id="pageLink">
          <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
            <circle cx="12" cy="12" r="10" />
            <polyline points="12 6 12 12 16 14" /></svg>
          깊은배움</a>
      </div>
    </div>
    <button class="btn-invite">Invite Team</button>
  </div>
  <div class="right-area">
    <div class="right-area-upper">
      <button class="menu-button">
        <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <defs />
          <path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
      </button>
      <div class="search-part-wrapper">
        <input class="search-input" type="text" placeholder="Search videos...">
        <a class="menu-links" href="#">Explore</a>
        <a class="menu-links" href="#">Events</a>
        <button class="more-button">
          <svg width="24" height="24" fill="none" stroke="#51a380" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-more-vertical">
            <defs />
            <circle cx="12" cy="12" r="1" />
            <circle cx="12" cy="5" r="1" />
            <circle cx="12" cy="19" r="1" />
          </svg>
        </button>
        <ul class="more-menu-list hide">
          <li><a href="#">Explore</a></li>
          <li><a href="#">Events</a></li>
          <li> <button class="action-buttons btn-record">Record</button></li>
          <li><button class="action-buttons btn-upload">Upload</button></li>
        </ul>
      </div>
      <button class="btn-notification">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#232428" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
          <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
        </svg>
        <span>3</span>
      </button>
      <div class="action-buttons-wrapper">
        <button class="action-buttons btn-record">Record</button>
        <button class="action-buttons btn-upload">Upload</button>
      </div>
    </div>
    <div class="page-right-content">
      <div>
        <input type="file" id='image-upload'/>
        <canvas class="canvas" width="512" height="512">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>
        <div class="control">
          <button class="color-btn" data-type="color" data-color="black"></button>
          <button class="color-btn" data-type="color" data-color="red"></button>
          <button class="color-btn" data-type="color" data-color="green"></button>
          <button class="color-btn" data-type="color" data-color="blue"></button>
          <button type="button" onclick="colorization()">채색하기</button>
        </div>
      </div>
      <div>
        <img src="./resize1.png" id="result_image_box" style="width:512px; height:512px; padding: 5px; border: 3px solid #111">
      </div>
    </div>
  </div>
</body>
</html>
<script src="../../static/js/webtoon/main.js"></script>
<script src="../../static/js/default/owl.carousel.min.js"></script>
<script>
  let uploadField = document.getElementById('image-upload')
  uploadField.addEventListener('change', resize_image);
  const canvas = document.querySelector('.canvas');
  const context = canvas.getContext('2d');
  const control = document.querySelector('.control')
  let drawingMode; // true일 때만 그리기
  let brush = 'color'; // 'color', 'image'
  let colorVal = 'black'; // 색상
  let resize_image_id = 0
  async function resize_image(e){
    let file = e.currentTarget.files[0];
    const form_data = new FormData();
    form_data.append('image',file)
    const response = await fetch(`http://127.0.0.1:8000/fanart/baseimage/`,{
      headers: {
        "Authorization" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjcwNzUyNzE1LCJpYXQiOjE2NzAzOTI3MTUsImp0aSI6IjJiZTMzMTQxNzUxNDQxMzI4ZGE3ZDY1MDNlMGI4ZGNmIiwidXNlcl9pZCI6MSwiZW1haWwiOiJ0YWVreXUzMkBnbWFpbC5jb20ifQ.1B6_uDlW_8i7becxZVPSXl_cN6jaF1edhX_rLHVeSw8",
      },
      method:'POST',
      body: form_data
    })
    response_json = await response.json()
    console.log(response_json)
    console.log(response_json.image)
    resize_image_id = response_json.id

    const imgElem = new Image();
    imgElem.src = `http://127.0.0.1:8000${response_json.image}`;
    imgElem.crossOrigin = 'Anonymous';
    imgElem.addEventListener('load', () => {
      context.drawImage(imgElem, 0, 0);
    });
  }
  function downHandler() {
        drawingMode = true;
  }

  function upHandler() {
    drawingMode = false;
  }

  function moveHandler(e) {
    if (!drawingMode) return;

    switch (brush) {
      case 'color':
        context.beginPath();
        context.arc(e.offsetX, e.offsetY, 1, 0, Math.PI*2, false);
        context.fill();
        break;
      case 'image':
        context.drawImage(imgElem, 이벤트.layerX, 이벤트.layerY, 50, 50);
        break;
    }
  }

  function setColor(이벤트) {
    brush = 이벤트.target.getAttribute('data-type');
    colorVal = 이벤트.target.getAttribute('data-color');
    context.fillStyle = colorVal;
    console.log(brush);
  }

  function createImage() {
    const url = canvas.toDataURL('image/png');
    const imgElem = new Image();
    imgElem.src = url;
    resultImage.appendChild(imgElem);
  }

  canvas.addEventListener('mousedown', downHandler);
  canvas.addEventListener('mousemove', moveHandler);
  canvas.addEventListener('mouseup', upHandler);
  control.addEventListener('click', setColor);

  async function colorization(){
    var imgDataUrl = canvas.toDataURL('image/png');
    var blobBin = atob(imgDataUrl.split(',')[1]);	// base64 데이터 디코딩
    var array = [];
    for (var i = 0; i < blobBin.length; i++) {
        array.push(blobBin.charCodeAt(i));
    }
    var file = new Blob([new Uint8Array(array)], {type: 'image/png'});	// Blob 생성
    var file_name = 'canvas_img_' + new Date().getMilliseconds() + '.png';
    var form_data = new FormData();	// formData 생성
    form_data.append("resize_image",resize_image_id)
    form_data.append("hint_image", file,file_name);	// file data 추가

    const response = await fetch(`http://127.0.0.1:8000/fanart/colorization/`,{
      headers: {
        "Authorization" : "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjcwNzUyNzE1LCJpYXQiOjE2NzAzOTI3MTUsImp0aSI6IjJiZTMzMTQxNzUxNDQxMzI4ZGE3ZDY1MDNlMGI4ZGNmIiwidXNlcl9pZCI6MSwiZW1haWwiOiJ0YWVreXUzMkBnbWFpbC5jb20ifQ.1B6_uDlW_8i7becxZVPSXl_cN6jaF1edhX_rLHVeSw8",
      },
      method:'POST',
      body: form_data
    })
    response_json = await response.json()
    console.log(response_json)
    
    let result_box = document.getElementById('result_image_box')
    result_box.src = "http://127.0.0.1:8000"+response_json.result_image


  }
</script>