* {
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    display: flex;
    align-items: center;
  }
  
  /*ICONS*/
  body {
    margin: 0;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    background: linear-gradient(to top, #be93c5, #7bc6cc);
  }
  @media screen and (max-width: 900px) {
    body {
      padding: 0;
    }
  }
  
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in;
  }
  
  a {
    text-decoration: none;
  }
  
  input[type=text] {
    border: none;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(216, 216, 216, 0.5);
    border-radius: 10px;
  }
  
  .app-wrapper {
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    display: flex;
  }
  @media screen and (max-width: 900px) {
    .app-wrapper {
      border-radius: none;
    }
  }
  
  .left-area {
    max-width: 190px;
    transition: all 0.6s linear;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
  }
  .left-area.hide-on-mobile {
    transition: all 0.6s linear;
  }
  @media screen and (max-width: 900px) {
    .left-area.hide-on-mobile {
      left: -100%;
      opacity: 0;
    }
  }
  @media screen and (max-width: 900px) {
    .left-area {
      position: absolute;
      background-color: #fff;
      z-index: 2;
      left: 0;
      opacity: 1;
      box-shadow: 4px 0px 4px 0px rgba(222, 222, 222, 0.3);
      border-right: none;
    }
  }
  
  .app-header {
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    padding: 43px 20px 20px 44px;
    background-image: url('https://velog.velcdn.com/images/marinred/post/5fe107e4-f7c9-4056-9520-3b664bf8994f/image.png');
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  .app-header .close-menu {
    display: none;
    position: absolute;
    top: 8px;
    right: 0;
  }
  @media screen and (max-width: 900px) {
    .app-header .close-menu {
      display: block;
    }
  }
  
  .inner-text {
    color: #adadad;
  }
  
  .profile {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 20px;
  }
  .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 12px;
  }
  .profile span {
    display: block;
    line-height: 20px;
  }
  .profile .profile-name {
    color: #232428;
    font-weight: 500;
    padding-right: 16px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 16px;
  }
  .profile .country {
    color: #adadad;
    font-weight: 500;
  }
  
  .item-link {
    display: block;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #adadad;
    transition: all 0.2s ease-in;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item-link:not(:first-of-type) {
    margin-top: 10px;
  }
  .item-link.active {
    color: #499d77;
    background-color: #e0f1e9;
  }
  .item-link:not(.active):hover {
    color: #a8d7c2;
    background-color: #f5faf8;
  }
  .item-link .link-icon {
    width: 16px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 4px;
  }
  
  .list-header {
    font-size: 12px;
    color: #adadad;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background-color: #fafafa;
  }
  .list-header svg {
    transition: all 0.2s ease-in;
  }
  .list-header span {
    display: block;
    font-weight: 500;
  }
  .list-header:hover svg {
    transition: all 0.2s ease-in;
    fill: #adadad;
  }
  .list-header:hover svg line {
    stroke: #fff;
  }
  
  .btn-invite {
    background-color: #499d77;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
    margin-top: auto;
  }
  .btn-invite:hover {
    background-color: #438f6c;
  }
  
  .left-area-content {
    flex: 1;
    overflow: auto;
  }
  
  .right-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 190px);
  }
  @media screen and (max-width: 900px) {
    .right-area {
      max-width: 100%;
    }
  }
  
  .right-area-upper {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    max-height: 64px;
    padding-left: 20px;
  }
  .right-area-upper .menu-button {
    display: none;
  }
  @media screen and (max-width: 900px) {
    .right-area-upper .menu-button {
      display: block;
    }
  }
  @media screen and (max-width: 520px) {
    .right-area-upper {
      padding: 0 10px;
    }
  }
  
  .search-input {
    flex: 1;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #adadad;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23adadad' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left 0px;
    padding: 10px 10px 10px 24px;
  }
  
  .search-part-wrapper {
    position: relative;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    flex: 1;
    border-right: 1px solid #ddd;
  }
  .search-part-wrapper a {
    color: #232428;
    font-size: 14px;
    font-weight: 500;
  }
  .search-part-wrapper a + a {
    margin-left: 10px;
  }
  
  .more-menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
    padding: 10px 0;
    transform-origin: center;
  }
  .more-menu-list.hide {
    display: none;
  }
  .more-menu-list:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    top: -6px;
    right: 32px;
    box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
  }
  .more-menu-list li {
    padding: 8px 20px;
    list-style-type: none;
    cursor: pointer;
  }
  .more-menu-list li:hover {
    background-color: #f3f8f6;
  }
  
  .btn-notification {
    position: relative;
    display: block;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    padding: 0 20px;
  }
  .btn-notification span {
    position: absolute;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    width: 14px;
    height: 14px;
    right: 18px;
    top: 18px;
    font-size: 10px;
  }
  
  .action-buttons {
    border-radius: 2px;
    padding: 10px 24px 10px 24px;
    font-size: 12px;
    color: #51a380;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center left 16px;
    max-height: 36px;
  }
  
  .btn-record {
    color: #51a380;
    background-color: #e6f1ed;
  }
  .btn-record:hover {
    background-color: #d2e6df;
  }
  
  .btn-upload {
    color: #e6f1ed;
    background-color: #51a380;
  }
  .btn-upload:hover {
    background-color: #62b18f;
  }
  
  .action-buttons-wrapper {
    padding: 0 20px;
    align-items: center;
    display: flex;
  }
  
  .page-right-content {
    flex: 1;
    padding: 20px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-line {
    width: 100%;
    position: relative;
  }
  .content-line + .content-line {
    margin-top: 24px;
    transition: 0.2s;
  }
  .content-line .header-text {
    display: block;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #232428;
  }
  
  .line-header {
    position: absolute;
    padding: 0 10px;
  }
  
  .content-line-hero .owl-dots {
    position: absolute;
    z-index: 12;
    left: 50%;
    transform: translatex(-50%);
    bottom: 24px;
  }
  .content-line-hero .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 2px;
    opacity: 0.5;
    padding: 0;
  }
  .content-line-hero .owl-dots .owl-dot.active {
    opacity: 1;
  }
  
  .owl-nav {
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .owl-nav button {
    background-color: #51a380;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;
  }
  .owl-nav button span {
    display: none;
  }
  .owl-nav button:hover {
    background-color: #62b18f;
  }
  
  .owl-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'/%3E%3C/svg%3E ");
    margin-right: 6px;
  }
  .owl-prev:hover {
    background-position: center left 2px;
  }
  
  .owl-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E ");
  }
  .owl-next:hover {
    background-position: center right 2px;
  }
  
  .owl-carousel {
    position: relative;
    overflow: hidden;
  }
  
  .owl-item {
    padding: 6px 10px;
  }
  
  .owl-stage-outer {
    width: 100%;
  }
  
  .hero-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 4px;
  }
  .hero-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .owl-carousel {
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 8px;
  }
  
  .upload-text-wrapper {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  .upload-text-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  .upload-text-info {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    opacity: 0.8;
  }
  .upload-text-info span {
    border-left: 1px solid #fff;
    padding-left: 4px;
  }
  
  .img-preview {
    flex: 1;
  }
  
  .video-box-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(209, 209, 209, 0.4);
    margin-right: 10px;
  }
  .video-box-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-description-wrapper {
    background-color: #fff;
    padding: 8px;
    position: relative;
  }
  .video-description-wrapper p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .video-description-header {
    font-weight: 500;
    margin: 16px 0 4px 0;
    font-size: 14px;
  }
  .video-description-subheader {
    color: #bebfbf;
    margin: 0;
    font-size: 12px;
  }
  .video-description-info {
    font-size: 12px;
    margin: 4px 0;
  }
  .video-description-info span {
    border-left: 1px solid #cdcdcd;
    padding-left: 4px;
  }
  
  .btn-play {
    position: absolute;
    top: -16px;
    right: 8px;
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2311a074' stroke='%2311a074' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpath d='M5 3l14 9-14 9V3z' /%3E%3C/svg%3E");
    box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
  }
  
  .more-button {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu-links {
      display: none;
    }
  
    .more-button {
      display: block;
    }
  
    .action-buttons-wrapper {
      display: none;
    }
  }
  #owl-slider-1 .hero-img-wrapper img {
    display: block;
    width: 100%;
  }
  
  .owl-stage {
    height: 250px;
    display: flex;
  }
/* ========================================================= */
.container-board {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6em;
    height: 85%;
    /* background: linear-gradient(45deg, #00695d 0%, #00aac1 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: fit-content;
  }
  
.container-board h1 {
    font-size: 1.5em;
  }

  .slider-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  
  .slides {
    height: 100%;
    width: 100%;
    background-size: cover;
    float:left;
    margin: 0 20px;
    box-shadow: 0px 4px 20px 0 #222;
    border: 3px solid #fffdf6;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #fffdf6;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }
  
  .slides:last-child {
    margin: 0 7.5px;
  }
  
  .slider-overlay {
    height: 100%;
    overflow: hidden;
    padding: 20px 10px;
  }
  
  .slides-wrapper {
    height: 100%;
    width: 100%;
    transition: all 0.75s cubic-bezier(0.69, 0.26, 0.18, 1.01);
  }
  
  .slider-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
  }
  .slider-controls .btn {
    background: #efefef;
    width: 20px;
    text-align: center;
    margin: 2px;
  }
  
  .btn {
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .btn:hover {
    background: #00aac1;
    color: white;
  }
  
  .img-wrapper {
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    background-size: 200% 200%;
    background-position: 0% 50%;
    transition: all 0.75s cubic-bezier(0.69, 0.26, 0.18, 1.01);
  }
  
  
  .image-caption {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    color: white;
    letter-spacing: 0.5px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.68) 73%, rgba(0, 0, 0, 0.81) 100%);
  }
  
  .liked-users img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.37);
  }
  
  .liked-users {
    width: 70px;
    position: relative;
    height: 40px;
  }
  
  .liked-users img {
    float: left;
    position: absolute;
    transition: all 0.35s;
    transition-delay: 0.5s;
    cursor: pointer;
  }
  
  .liked-users img:last-child {
    z-index: -2;
  }
  
  .active .liked-users img:last-child {
    transform: translate3d(50px, 0, 0);
  }
  
  .liked-users img:nth-child(2) {
    z-index: -1;
  }
  
  .active .liked-users img:nth-child(2) {
    transform: translate3d(25px, 0, 0);
  }
  
  .liked-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    z-index: 1;
    position: relative;
  }
  
  .liked-tagline {
    font-weight: 400;
  }
  
  .comments-wrapper {
    padding: 10px;
  }
  
  .submit-comment input {
    border-radius: 15px;
    border: 2px solid #ededed;
    padding: 7.5px 10px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    width: 75%;
  }
  
  .submit-comment input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5px;
    padding-left: 5px;
  }
  
  button.submit-comment svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
  }
  
  button.submit-comment {
    background: transparent;
    border: 1px solid #aeaeae;
    border-radius: 50%;
    padding: 0;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button.submit-comment svg path {
    fill: #aeaeae;
  }
  
  .submit-comment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .liked-tagline p {
    border-bottom: 1px solid #1e1e6a;
    color: #1e1e6a;
    font-weight: 700;
    cursor: pointer;
  }
  
  .like-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .like-btn svg {
    width: 25px;
    height: 25px;
  }
  
  .active .like-btn svg {
    animation: heartbeat 1.5s 2;
    animation-delay: 1s;
  }
  
  .like-btn svg path {
    transition: all 0.3s;
  }
  
  .like-btn:hover svg path {
    fill: red;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.15);
    }
  }

/* ===================================== */
.container-board-comment {
    font-family: Futura std, Futura, "Century Gothic", CenturyGothic, "Avant Garde", Avantgarde, Futura, AppleGothic, Arial, Helvetica, sans-serif;
    color: #444;
    flex-basis: 35%;
    padding: 10px 10px;
    height: 100%;
    max-height: 750px;
  }
  .container-board-comment h1 {
    color: #23a;
    margin: 0;
  }
  .comment-box {
    max-width: 30em;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 98%;
  }
  .comment-list {
    height: 97%;
    margin: 0 -1em 1em -1em;
    padding: 1em;
    background: #eef;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    overflow-y: auto;
    
  }
  .comment-node {
    position: relative;
    margin-bottom: 1em;
    padding: 1.5em;
    background: #fff;
    border-radius: 2.1em;
  }
  .comment-node .print-author {
    position: absolute;
    top: 0.5em;
    color: #abf;
    font-size: 0.7em;
  }
  .name-input {
    transition: all 0.2s;
  }
  .name-input:not(:focus):valid {
    box-shadow: none;
    color: #abf;
    margin-bottom: -0.5em;
    padding: 0;
    cursor: pointer;
  }
  .container-board-comment input {
    border: 0;
  }
  .container-board-comment input[type=text], .container-board-comment input[type=password] {
    display: block;
    width: calc(100% - 1em);
    padding: 0.5em;
    margin: 1em 0;
    font-size: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.3) inset;
  }
  .container-board-comment input[type=submit] {
    min-width: 5em;
    padding: 0.5em;
    font-size: 1em;
    color: #fff;
    background: #24b;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 5px 7px rgba(0, 0, 0, 0.2);
  }
  .container-board-comment input[type=submit]:hover {
    background: #35c;
  }
  .container-board-comment input[type=submit][disabled] {
    background: #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  /* ==== likes ====== */
  .like_button_click{
    color: #f05650;
    background-color: pink;
  }
  .like_button{
    margin: 0 0 0 0px;
    border-radius: 50px;
    border: solid 2px #ddd;
    width: 90px;
    height: 50px;
    font-size: 14px;
  }
  

  