<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/user/passwordchange.css" rel="stylesheet" type="text/css"/>
    <title>passwordchange</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    
  <div class="login-page">
    <div class="form">
      <form class="newpassword-form">
        <h1>CHANGE PASSWORD</h1>
        <br><br>
        <input type="password" placeholder="password"/>
        <input type="password1" placeholder="new password"/>
        <input type="password2" placeholder="confirm new password"/>
        <button>change password</button>
        <p class="message">Not want change password? <a href="#">Go back</a></p>
      </form>
    </div>
  </div>
</body>
</html>
<script src="../../static/js/user/passwordchange.js"></script>
