<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/user/signup.css" rel="stylesheet" type="text/css"/>
    <title>signup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <h1>SIGN UP</h1>
        <br><br>
        <input type="text" placeholder="nickname" id="sign-username"/>
        <input type="password" placeholder="password" id="sign-pass"/>
        <input type="password" placeholder="confirm password" id="sign-confirm"/>
        <input type="text" placeholder="email address" id="sign-email"/>
        <button onclick="handleSignup()">create</button>
        <p class="message">Already registered? <a href="#">Log In</a></p>
      </form>
      <form class="login-form">
        <h1>LOGIN</h1>
        <br><br>
        <input type="text" placeholder="email" id="log-email" />
        <input type="password" placeholder="password" id="log-pass" />
        <button type="button" onclick="handleSignin()">login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>
<script src="../../static/js/user/signup.js"></script>